{
    "env": {
        "node": true,
        "jest": true,
        "mongo": true,
        "es6": true,
        "commonjs": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 2020,
        "ecmaFeatures": {
            "impliedStrict": true
        }
    },
    "rules": {
        "no-console": 1
    }
}